{%extends "base.html"%}
{%block title%}
  <title>Home</title>
{%endblock%}
<body>
  {%block content%}
  <!-- Main Content -->
  
  <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

    <div class="row">
      <div class="col-lg-15 col-md-20 mx-auto">
        
      
      </div>
    </div>
  </div>

  <hr>

 
{%endblock%}
</body>

</html>
